@model HoneymoonShop.Models.Bruid.ProductFilter
<div class="content">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="active" href="@Url.Action("index", "home")">Home</a></li>
            <li class="breadcrumb-item"><a class="active" href="@Url.Action("Bruid", "Home")">Bruid</a></li>
            <li class="breadcrumb-item"><a class="active" href="@Url.Action("Categorie", "Bruid")">Dressfinder</a></li>
            <li class="breadcrumb-item">
                @if (Model.FilterSelectie.Categorie != null)
                {
                    @Model.Filter.Categorieën.Single(x => x.Id == Model.FilterSelectie.Categorie).Naam
                }
                else
                {
                    <span>Alle jurken</span>
                }

            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-3 filterOpties">
            <form asp-controller="Bruid" asp-action="Categorie">
                <h4>Categorieën</h4>
                <div class="categorie">
                    @{
                        foreach (var categorie in @Model.Filter.Categorieën)
                        {
                            <div class="backgroundLichtRoze">
                                <input type="radio" value="@categorie.Id" name="categorie" />
                                <label>@categorie.Naam</label>
                            </div>
                        }
                    }
                </div>
                <div id="filters">
                    <h4>Filter op:</h4>
                    <h5 data-toggle="collapse" data-target="#merk">Merk <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span> </h5>
                    <div id="merk" class="collapse">
                        <ul>
                            @{
                                foreach (var merk in @Model.Filter.Merken)
                                {
                                    <li>
                                        <input type="checkbox" id="@merk.Id@merk.Naam" value="@merk.Id" name="merken" /> @merk.Naam
                                        <label for="@merk.Id@merk.Naam"></label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <h5 data-toggle="collapse" data-target="#stijlJurk">Stijl jurk <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span></h5>
                    <div id="stijlJurk" class="collapse">
                        <ul>
                            @{
                                foreach (var stijl in @Model.Filter.Stijlen)
                                {
                                    <li>
                                        <input type="checkbox" id="@stijl.Id@stijl.Naam" value="@stijl.Id" name="kenmerken" />@stijl.Naam
                                        <label for="@stijl.Id@stijl.Naam"></label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <h5 class="bottomBorder" data-toggle="collapse" data-target="#prijs">Prijs <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span></h5>
                    <div id="prijs" class="collapse bottomBorder">
                        <input type="hidden" name="minPrijs" value="@Model.FilterSelectie.MinPrijs" />
                        <input type="hidden" name="maxPrijs" value="@Model.FilterSelectie.MaxPrijs" />
                        <b>€<span class="minPrijs">200</span></b> <input id="prijsSlider" type="text" class="span2" value="123"
                                                                         data-slider-tooltip="show"
                                                                         data-slider-ticks-labels='["short", "medium", "long"]'
                                                                         data-slider-min="@Model.FilterSelectie.MinPrijs"
                                                                         data-slider-max="@Model.FilterSelectie.MaxPrijs"
                                                                         data-slider-step="10"
                                                                         data-slider-value="[@Model.Filter.MinPrijs,@Model.Filter.MaxPrijs]" />
                        <b>€<span class="maxPrijs">800</span></b>
                    </div>
                    <h4 class="marginTop">Filters verfijnen</h4>
                    @{foreach (var kenmerkNaam in @Model.Filter.KenmerkNamen)
                        {
                            <h5 data-toggle="collapse" data-target="#@kenmerkNaam">@kenmerkNaam <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span></h5>
                            <div id="@kenmerkNaam" class="collapse">
                                <ul>
                                    @foreach (var kenmerk in @Model.Filter.Kenmerken)
                                    {
                                        if (kenmerkNaam.Equals(kenmerk.Type))
                                        {
                                            <li>
                                                <input type="checkbox" id="@kenmerk.Id@kenmerk.Naam" value="@kenmerk.Id" name="kenmerken" /> @kenmerk.Naam
                                                <label for="@kenmerk.Id@kenmerk.Naam"></label>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    }
                </div>
                <button type="submit">VERZENDEN!</button>
            </form>
        </div>

        <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <h5>Sorteren op: </h5>
                        <select name="sortingOptie">
                            <option value="PrijsLH" selected>Prijs laag - hoog</option>
                            <option value="PrijsHL">Prijs hoog - laag</option>
                            <option value="MerkAZ">Merk A - Z</option>
                            <option value="MerkZA">Merk Z - A</option>
                        </select>
                    </div>
                    
                </div>
            
            <div class="row">
                <div class="col-md-12 jurkenOverzicht">
                    @foreach (var item in @Model.Producten)
                    {
                        <div class="product">
                            <a href="/bruid/product/@item.Id">
                                <img src="~/images/Producten/Trouwjurken/@(item.ArtikelNummer + "_1_" + @item.Product_X_Kenmerk.First(x => x.Kenmerk.Type.Equals("Kleur")).Kenmerk.Naam + ".jpg")" class="img-responsive" />
                                <div class="productNaam"><h5>@item.Merk.Naam</h5></div>
                                <div class="artikelNummer"><h6>@( "Artikel nr." + item.ArtikelNummer)</h6></div>

                                <div class="artikelKleur">
                                    @foreach (var x in item.Product_X_Kenmerk)
                                    {
                                        if (x.Kenmerk.Type.Equals("Kleur"))
                                        {
                                            var kleur = (HoneymoonShop.Models.Bruid.Kleur)x.Kenmerk;
                                            <span href="#" class="kleur-bolletje" style="background-color:#@kleur.Kleurcode"></span>
                                        }
                                    }
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 aantalProducten">
                    <h5>Aantal tonen: </h5>
                    <select name="sortingOptie">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col-md-6 paginaNummer">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    <ul class="pagination">
                        @{
                            for (int i = 1; i <= ViewBag.aantalPagina; i++)
                            {
                                Model.FilterSelectie.Paginanummer = i;
                                <li>
                                    @Html.ActionLink(i.ToString(), "Categorie", "Bruid", Model.FilterSelectie, null)
                                </li>
                            }

                        }
                    </ul>
                    <span class="glyphicon glyphicon-triangle-right"></span>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        document.body.style.backgroundColor = "#FFE4EA";
    </script>
</div>
<div><img src="~/images/Footer/417033-3-3.jpg" class="img-responsive" /></div>
