@model HoneymoonShop.Models.Bruid.ProductFilter
<div class="content">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="active" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a class="active" asp-controller="Home" asp-action="Bruid">Bruid</a></li>
            <li class="breadcrumb-item"><a class="active" asp-controller="Bruid" asp-action="Categorie">Dressfinder</a></li>
            <li class="breadcrumb-item">
                @if (Model.FilterSelectie.Categorie != null)
                {
                    @Model.Filter.Categorieën.Single(x => x.Id == Model.FilterSelectie.Categorie).Naam
                }
                else
                {
                    <span>Alle jurken</span>
                }

            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-3 filterOpties">
            <form asp-controller="Bruid" asp-action="Categorie">
                <h4>Categorieën</h4>
                @for (int i = 0; i < Model.Filter.Categorieën.Count(); i++)
                {
                    <div class="backgroundLichtRoze">
                        <input asp-for="@Model.Filter.Categorieën[i].Selected" type="checkbox" />
                        <label asp-for="@Model.Filter.Categorieën[i].Selected">@Model.Filter.Categorieën[i].Naam</label>

                        @*If these are not included, all OptionIds become 0 and all OptionName becomes null*@
                        @Html.HiddenFor(x => @Model.Filter.Categorieën[i].Id)
                        @Html.HiddenFor(y => @Model.Filter.Categorieën[i].Naam)
                    </div>
                }
                <div id="filters">
                    <h4>Filter op:</h4>
                    <h5 data-toggle="collapse" data-target="#merk">Merk <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span> </h5>
                    <div id="merk" class="collapse">
                        <ul>
                            @for (int i = 0; i < @Model.Filter.Merken.Count(); i++)
                            {
                                <li>
                                    <input asp-for="@Model.Filter.Merken[i].Selected" type="checkbox" />@Model.Filter.Stijlen[i].Naam
                                    <label asp-for="@Model.Filter.Merken[i].Selected">&nbsp;</label>

                                    @*If these are not included, all OptionIds become 0 and all OptionName becomes null*@
                                    @Html.HiddenFor(x => @Model.Filter.Merken[i].Id)
                                    @Html.HiddenFor(y => @Model.Filter.Merken[i].Naam)
                                </li>
                            }
                        </ul>
                    </div>
                    <h5 data-toggle="collapse" data-target="#stijlJurk">Stijl jurk <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span></h5>
                    <div id="stijlJurk" class="collapse">
                        <ul>
                            @for (int i = 0; i < @Model.Filter.Stijlen.Count(); i++)
                            {
                                <li>
                                    <input asp-for="@Model.Filter.Stijlen[i].Selected" type="checkbox" />@Model.Filter.Stijlen[i].Naam
                                    <label asp-for="@Model.Filter.Stijlen[i].Selected">&nbsp;</label>

                                    @*If these are not included, all OptionIds become 0 and all OptionName becomes null*@
                                    @Html.HiddenFor(x => @Model.Filter.Stijlen[i].Id)
                                    @Html.HiddenFor(y => @Model.Filter.Stijlen[i].Naam)
                                    @Html.HiddenFor(y => @Model.Filter.Stijlen[i].Type)
                                </li>
                            }
                        </ul>
                    </div>
                    <h5 class="bottomBorder" data-toggle="collapse" data-target="#prijs">Prijs <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span></h5>
                    <div id="prijs" class="collapse bottomBorder">
                        <input type="hidden" name="minPrijs" value="@Model.FilterSelectie.MinPrijs" />
                        <input type="hidden" name="maxPrijs" value="@Model.FilterSelectie.MaxPrijs" />
                        <b>€<span class="minPrijs">200</span></b> <input id="prijsSlider" type="text" class="span2" value="123"
                                                                         data-slider-tooltip="show"
                                                                         data-slider-ticks-labels='["short", "medium", "long"]'
                                                                         data-slider-min="@Model.FilterSelectie.MinPrijs"
                                                                         data-slider-max="@Model.FilterSelectie.MaxPrijs"
                                                                         data-slider-step="10"
                                                                         data-slider-value="[@Model.Filter.MinPrijs,@Model.Filter.MaxPrijs]" />
                        <b>€<span class="maxPrijs">800</span></b>
                    </div>
                    <h4 class="marginTop">Filters verfijnen</h4>
                    @{
                        foreach (var kenmerkNaam in @Model.Filter.KenmerkNamen)
                        {
                            <h5 data-toggle="collapse" data-target="#@kenmerkNaam">@kenmerkNaam <span class="glyphicon glyphicon-chevron-down pijltje"></span> <span style="display: none;" class="glyphicon glyphicon-chevron-up pijltje"></span></h5>
                            <div id="@kenmerkNaam" class="collapse">
                                <ul>
                                    @for (int i = 0; i < @Model.Filter.Kenmerken.Count(); i++)
                                    {
                                        if (kenmerkNaam.Equals(@Model.Filter.Kenmerken[i].Type))
                                        {
                                            <li>
                                                <input asp-for="@Model.Filter.Kenmerken[i].Selected" type="checkbox" /> @Model.Filter.Kenmerken[i].Naam
                                                <label asp-for="@Model.Filter.Kenmerken[i].Selected">&nbsp;</label>

                                                @*If these are not included, all OptionIds become 0 and all OptionName becomes null*@
                                                @Html.HiddenFor(x => @Model.Filter.Kenmerken[i].Id)
                                                @Html.HiddenFor(y => @Model.Filter.Kenmerken[i].Naam)
                                                @Html.HiddenFor(y => @Model.Filter.Kenmerken[i].Type)
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    }
                </div>

                <button type="submit">VERZENDEN!</button>
            </form>
        </div>

        <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <h5>Sorteren op: </h5>
                        <select name="sortingOptie">
                            <option value="PrijsLH" selected>Prijs laag - hoog</option>
                            <option value="PrijsHL">Prijs hoog - laag</option>
                            <option value="MerkAZ">Merk A - Z</option>
                            <option value="MerkZA">Merk Z - A</option>
                        </select>
                    </div>
                    
                </div>
            
            <div class="row">
                <div class="col-md-12 jurkenOverzicht">
                    @foreach (var item in @Model.Producten)
                    {
                        <div class="product">
                            <a href="/bruid/product/@item.Id">
                                <img src="~/images/Producten/Trouwjurken/@(item.ArtikelNummer + "_1_" + @item.Product_X_Kenmerk.First(x => x.Kenmerk.Type.Equals("Kleur")).Kenmerk.Naam + ".jpg")" class="img-responsive" />
                                <div class="productNaam"><h5>@item.Merk.Naam</h5></div>
                                <div class="artikelNummer"><h6>@( "Artikel nr." + item.ArtikelNummer)</h6></div>

                                <div class="artikelKleur">
                                    @foreach (var x in item.Product_X_Kenmerk)
                                    {
                                        if (x.Kenmerk.Type.Equals("Kleur"))
                                        {
                                            var kleur = (HoneymoonShop.Models.Bruid.Kleur)x.Kenmerk;
                                            <span href="#" class="kleur-bolletje" style="background-color:#@kleur.Kleurcode"></span>
                                        }
                                    }
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 aantalProducten">
                    <h5>Aantal tonen: </h5>
                    <select name="sortingOptie">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col-md-6 paginaNummer">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    <ul class="pagination">
                        @{
                            for (int i = 1; i <= ViewBag.aantalPagina; i++)
                            {
                                Model.FilterSelectie.Paginanummer = i;
                                <li>
                                    @Html.ActionLink(i.ToString(), "Categorie", "Bruid", Model.FilterSelectie, null)
                                </li>
                            }

                        }
                    </ul>
                    <span class="glyphicon glyphicon-triangle-right"></span>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        document.body.style.backgroundColor = "#FFE4EA";
    </script>
</div>
<div><img src="~/images/Footer/417033-3-3.jpg" class="img-responsive" /></div>
